a {
    display: inline-block;
    width: 170px;
    margin-bottom: 5px;
}

label {
    width: 150px;
    margin-left: 5px;
}

input.txt {
    width: 40px;
}

input.sab {
    width: 300px;
    margin-left: 5px;
}

div.first {
    margin-top: 15px;
}

button {
    width: 210px;
    margin-left: 5px;
    margin-bottom: 5px;
    color: blue;
}

th {
    text-align: left;
    width: 100px;
}