﻿@model HeroesM.Models.Unit

@{
    Layout = null;
    string buttonName = null;

    Dictionary<string, object> typeNum = new Dictionary<string, object>()
    {
        ["type"] = "number"
    };

    if (Model == null)
    {
        buttonName = "Создать юнита";
    }
    else
    {
        buttonName = "Обновить юнита";
    }
}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Тестирование ASP NET MVC</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/st.css")">
</head>

<body>

    <h1 class="text-center">Добавление нового юнита</h1>

    @Html.ValidationSummary()

    <form method="post" action="">
        @if (Model != null)
        {
            @Html.HiddenFor(item => item.UnitID)
        }
        <table>
            <tbody>
                <tr>
                    <th scope="row">Имя</th>
                    <td>@Html.TextBoxFor(item => item.Name)</td>
                </tr>
                <tr>
                    <th scope="row">Атака</th>
                    <td>@Html.TextBoxFor(item => item.Attack, typeNum)</td>
                </tr>
                <tr>
                    <th scope="row">Защита</th>
                    <td>@Html.TextBoxFor(item => item.Defense, typeNum)</td>
                </tr>
                <tr>
                    <th scope="row">Стоимость</th>
                    <td>@Html.TextBoxFor(item => item.Cost, typeNum)</td>
                </tr>
                <tr>
                    <th scope="row" colspan="2"><input type="submit" value="@buttonName" /></th>
                </tr>
            </tbody>
        </table>
    </form>

    <script src="@Url.Content("~/Scripts/jquery-3.5.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/popper.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
</body>

</html>