﻿@using HeroesM.Models;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Тестирование ASP NET MVC</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/st.css")">
</head>

<body>

    <h1 class="text-center">Герои 3 - список юнитов</h1>
    <div class="first">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">ИД</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Атака</th>
                    <th scope="col">Защита</th>
                    <th scope="col">Стоимость</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Unit unit in ViewBag.Units)
                {
                    <tr>
                        <th scope="row">@Html.ActionLink(@unit.UnitID.ToString(), "UpdateUnit", "Home", new { id = unit.UnitID }, null)</th>
                        <td>@unit.Name</td>
                        <td>@unit.Attack</td>
                        <td>@unit.Defense</td>
                        <td>@unit.Cost</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="first">
        @Html.ActionLink("Добавить нового юнита", "CreateUnit")
        <br>
        <div>
            <form method="POST" action="/Home/DeleteUnit">
                <label>Удалить юнита по ID:</label>
                <input class="txt" type="number" name="id" />
                <input class="sab" type="submit" value="Удалить" />
            </form>
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/jquery-3.5.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/popper.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
</body>

</html>